@import "../../styles/_variables/mixins.scss";

.header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  max-width: 1140px;
  position: sticky;
  top: 0;
  z-index: 100;

  @include lg {
    justify-content: flex-start;
  }

  .logo {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .mobile {
    @include lg {
      display: none;
    }
  }

  .desktop {
    display: none;
    @include lg {
      display: block;
      flex: 1;
      margin-left: 4rem;
    }
  }
}
