.articles {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  .main {
    margin-bottom: 2rem;

    &__img {
      background: #333;
      height: 150px;
      margin-bottom: 1.5rem;
    }

    &__info {
      h3 {
        font-size: 1.5rem;
        line-height: 125%;
      }

      p {
        color: rgb(30, 30, 30);
        line-height: 150%;
        margin-top: 0.5rem;
      }

      &__author {
        font-size: 0.85rem;
        margin-top: 1.25rem;

        p {
          color: #6c757d;
          margin-top: 0.25rem;
        }
      }
    }
  }

  .side {
    &__article {
      align-items: center;
      display: flex;
      margin-bottom: 0.5rem;

      &__img {
        height: 80px;
        background: #333;
        margin-right: 1rem;
        min-height: 80px;
        min-width: 120px;
        width: 120px;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          font-weight: bold;
          margin-bottom: 0.4rem;
          line-height: 125%;
        }

        &__author {
          font-size: 0.85rem;

          p {
            color: #6c757d;
            font-weight: 400;
            margin-top: 0.25rem;
          }
        }
      }
    }
  }
}
