@import "../../styles/_variables/mixins.scss";

.articles {
  display: grid;
  margin-top: 2rem;

  @include lg {
    grid-template-columns: 1fr 1fr;
  }

  .main {
    margin-bottom: 2rem;

    @include lg {
      margin-right: 2rem;
    }

    .img {
      background: #333;
      height: 150px;
      margin-bottom: 1.5rem;
      position: relative;

      img {
        object-fit: cover;
      }
    }

    .info {
      h3 {
        font-size: 1.5rem;
        line-height: 125%;
      }

      p {
        color: rgb(30, 30, 30);
        line-height: 150%;
        margin-top: 0.5rem;
      }

      .author {
        font-size: 0.85rem;
        margin-top: 1.25rem;

        p {
          color: #6c757d;
          margin-top: 0.25rem;
        }
      }
    }
  }
}
