.container {
  margin-top: 2rem;

  .title {
    border-bottom: 3px solid #ccc;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    width: fit-content;
  }

  .stories {
    .story {
      display: flex;
      margin-bottom: 1.5rem;

      .info {
        margin-right: 1rem;

        h3 {
          font-size: 1.5rem;
          font-weight: 700;
        }

        p {
          color: rgb(30, 30, 30);
          line-height: 150%;
          margin-top: 0.5rem;
        }

        .author {
          font-size: 0.85rem;
          margin-top: 1.25rem;

          p {
            color: #6c757d;
            margin-top: 0.25rem;
          }
        }
      }

      .img {
        background: black;
        height: 120px;
        min-height: 120px;
        min-width: 180px;
        position: relative;
        width: 180px;

        img {
          object-fit: cover;
        }
      }
    }
  }
}
