@import "../../styles/_variables/mixins.scss";

.post {
  border-top: 2px solid #eee;
  display: grid;
  margin-top: 2rem;
  padding-top: 2rem;

  &__time {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }

  h2 {
    margin-bottom: 1.5rem;

    @include md {
      font-size: 2rem;
    }
  }

  .img {
    position: relative;
    min-height: 300px;

    img {
      object-fit: cover;
    }
  }

  &__description {
    color: rgb(30, 30, 30);
    font-size: 1.1rem;
    line-height: 160%;
    margin: 1rem 0;
  }

  .btn {
    margin-top: 1rem;

    a {
      background: #212121;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1rem;
      margin-top: 1rem;
      padding: 0.75rem 1.25rem;
      transition: 0.25s all ease;
      width: fit-content;

      &:hover {
        background: #111;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25) 0px 0px 9px
          rgba(0, 0, 0, 0.25);
      }
    }
  }
}
