@import "../../styles/_variables/mixins.scss";

.layout {
  padding: 1rem;
  padding-top: 5px;

  .container {
    margin: 0 auto;

    @include sm {
      max-width: 576px;
    }

    @include md {
      max-width: 768px;
    }

    @include lg {
      max-width: 960px;
    }

    @include xl {
      max-width: 1140px;
    }
  }
}
