.nav {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-around;
  max-width: 70%;

  .link {
    color: #777;
    margin: 2.5rem 0;
    text-transform: capitalize;
    transition: 0.25s all ease;

    &:hover {
      color: #111;
    }
  }
}
