@import "../../styles/_variables/mixins.scss";

.post {
  .body {
    margin-top: 5rem;

    @include lg {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr;
    }
  }

  .content {
    font-family: "Times New Roman", Times, serif;
    color: #222;
    font-size: 1.25rem;
    line-height: 170%;

    p:first-child:first-letter {
      float: left;
      font-size: 6rem;
      line-height: 1;
      margin-right: 1rem;
    }

    &__p {
      display: inline;
    }

    p {
      margin-bottom: 2rem;
    }
  }
}
