.notFound {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .message {
    align-items: center;
    display: flex;

    h1 {
      font-size: 4rem;
      margin-right: 1rem;
    }

    p {
      color: #666;
    }
  }

  .link {
    font-size: 1.1rem;
    margin-top: 2rem;
  }
}
